* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

body {
  margin: 24px 24px;
  width: 95%;
}

.div-recent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 49%;
  float: left;
  position: relative;
}

.recent-scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  margin: 12px;
}

ul {
  border: 2px solid #000;
  width: 350px;
  gap: 20px;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  list-style-type: none;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

p {
  height: 25px;
  padding: 15px;
  display: flex;
  align-items: center;
}

p:nth-child(even) {
  background-color: #ebeaea;
}

.add-score {
  display: flex;
  flex-direction: column;
  float: left;
  width: 300px;
  margin: 24px;
  gap: 24px;
}

button {
  width: 90px;
  height: 35px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #ebeaea;
  border: 1px solid #000;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
}

input {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  padding: 0 15px;
  border: 1px solid #000;
  margin-bottom: 12px;
}

.form-scores {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
